<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-ios-camera-permissions" version="1.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>iOS Permissions</name>
    <author>Andreas Jacob (http://cordobo.com/)</author>
    <description>Cordova / PhoneGap Plugin Permission Settings for NSCameraUsageDescription, NSPhotoLibraryAddUsageDescription, NSPhotoLibraryUsageDescription and NSMicrophoneUsageDescription in iOS 11 by adding a declaration to the Info.plist file</description>
    <keywords>cordova, ios, app, security, permissions, nscamerausagedescription, nsphotolibraryaddusagedescription, nsphotolibraryusagedescription, nsmicrophoneusagedescription</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
        </engines>
        <platform name="ios">
            <preference name="CAMERA_USAGE_DESCRIPTION" default="Deze app gebruikt de camera om foto's in uw projecten te kunnen plaatsen."/>
            <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
                <string>$CAMERA_USAGE_DESCRIPTION</string>
            </config-file>

            <preference name="MICROPHONE_USAGE_DESCRIPTION" default="Deze app gebruikt uw microfoon om geluid aan video's van uw projecten toe te voegen."/>
            <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
                <string>$MICROPHONE_USAGE_DESCRIPTION</string>
            </config-file>

            <preference name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" default="Deze app gebruikt de fotobibliotheek om foto's aan uw projecten toe te voegen."/>
            <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
                <string>$PHOTOLIBRARY_ADD_USAGE_DESCRIPTION</string>
            </config-file>

            <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default="Deze app gebruikt de fotobibliotheek om foto's aan uw projecten toe te voegen."/>
            <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
                <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
            </config-file>
        </platform>
    </plugin>
